[2017-05-22 01:18] magicps5 opened #1 "Hostname sweep throws an exeption when using 100.100.x.x target range"
When I exectued reconnoitre.py with other .py in this package, I got these errors.
* OS : CentOS 6.8
* Python Version : 3.5.1
* Command Line : python reconnoitre.py -t hdp01 -o /data/user/flamingo/workflow/python/v3/reconnoitre/output --services --pingsweep --dns --hostnames --snmp

  File "reconnoitre.py", line 65, in <module>
    main();
  File "reconnoitre.py", line 47, in main
    ping_sweeper

[2017-05-22 02:15] codingo commented on #1
Could you post the command line arguments that you used?

[2017-05-22 02:34] magicps5 commented on #1
Sorry, I just missed that command line, and I updated my contents.
I installed nmap 2:5.51-4.el6.

[2017-05-22 03:18] codingo commented on #1
Could you attempt an update of nmap and see if it resolves the issue? Nmap should support hostnames in the target specification (source: https://svn.nmap.org/nmap/docs/nmap.usage.txt) however I can't verify that for your particular version.

Alternatively, if you use the ip address for the host it should work fine. You could also specify a range with something like:

[2017-05-22 05:06] magicps5 commented on #1
I got same errors to two-versions command parameters.
And I tested nmap command like "nmap hdp01" in terminal, then I checked some results.
Starting Nmap 5.51 ( http://nmap.org ) at 2017-05-22 14:01 KST
Nmap scan report for hdp01 (x.x.x.x)
Host is up (0.000070s latency).
rDNS record for x.x.x.x: FQDN
Not shown: 993 closed ports
.....
Mac Address: XXXXX
Nmap doneL 1 IP address (1 host up) scanned i

[2017-05-22 05:34] codingo commented on #1
To clarify - you tried using the ip address as the target instead of the hostname to reproduce the issue? Could you paste your terminal output here?

[2017-05-22 05:44] magicps5 commented on #1
[flamingo@flamingo reconnoitre]$ ll
합계 44
drwxrwxr-x 2 flamingo flamingo 4096 2017-05-22 14:38 __pycache__
-rw-r--r-- 1 flamingo flamingo 9173 2017-05-22 14:38 file_helper.py
-rw-r--r-- 1 flamingo flamingo 1577 2017-05-22 14:38 find_dns.py
-rw-r--r-- 1 flamingo flamingo 1426 2017-05-22 14:38 hostname_scan.py
drwxrwxr-x 2 flamingo flamingo 4096 2017-05-22 13:41 output
-rw-r--r-- 1 flamingo flamingo

[2017-05-22 06:03] codingo commented on #1
Ok great, makes sense now. It looks like a bug in the way the arguments parser handles input for the target (.x.x specifically). I can look at a patch or potentially a pull request on the parser library but in the meantime you'll need to specify the full ip address (or specify the range like I did above). I'm midway through my lab journey so it may be a couple of days until I can update this threa

[2017-05-22 06:08] codingo commented on #1
Actually, no sorry, I'm wrong. The error is in the hostname_scan (can't believe I took this long to notice!).

Do you have nbtscan installed? The following will do everything but a hostname scan for you in the meantime:

[2017-05-22 06:45] magicps5 commented on #1
Yes, when I executed second command what you said, and then I found nbtscan command not found in terminal, so I got nbtscan-1.5.1-1.2.el6.rf.x86_64 package from another epel6 link, and installed it additionally.

[2017-05-22 08:03] codingo commented on #1
Great! I've updated the readme to mention both tools and I'll add some exception handling to the entry point for these functions in the future to check for these dependencies before executing.

[2017-05-22 08:03] #1 closed

[2017-05-22 08:12] magicps5 commented on #1
One more thing, snmpwalk package is required to use that command with --snmp option.
yum install net-snmp*
And Edit config file /etc/snmp/snmpd.conf
* all values must be commented before edit new value.
rocommunity public
service snmpd start

[2017-05-22 08:20] codingo commented on #1
You're right - I'll have to wrap some exception handling into it! Wasn't really intended for wide use outside of Kali.

[2017-05-28 23:20] codingo opened #3 "Exception handling if required tools are missing"
Not all users of Reconnoitre are using Kali Linux to perform tests. As this tool was initially designed around kali linux exception handling for when these tools aren't present wasn't performed and needs to be added into the program flow.

[2017-05-28 23:22] codingo opened #4 "Refactoring for classes"
The code for Reconnoitre is currently structured into independent methods/files but lacks classes for each file. Recommendation is to create classes for each base file within the project (for example file_helpers.py would contain the class file_helper).

[2017-07-08 17:32] mboelen opened #6 "License?"
Hi!

We are evaluating your tool for inclusion on our [Linux security tools](https://linuxsecurity.expert/security-tools/) page. While reviewing we see that the badge refers to the license being public domain, while the LICENSE file states GPL v3. Is that by accident? What is the license of the tool?

[2017-07-08 21:45] codingo commented on #6
An oversight when the liense changed. Updated!

[2017-07-08 21:45] #6 closed

[2017-08-10 20:39] mother2110 opened #8 "Send exiting main didnt connect, exiting: system error Interrupted system call"
[+] Starting quick nmap scan for 10.10.10.43
[+] Writing findings for 10.10.10.43
   [>] Found HTTP service on 10.10.10.43:80
   [>] Found HTTP service on 10.10.10.43:443
[*] TCP quick scans completed for 10.10.10.43
[+] Starting detailed TCP/UDP nmap scans for 10.10.10.43
Send exiting main didnt connect, exiting: system error Interrupted system call

[2017-08-10 23:00] codingo commented on #8
Could I get a bit more information from you?

- What system are you running this on?
- Do you receive an error when running the following in the terminal (I don't need output)?

[2017-08-11 14:03] mother2110 commented on #8
Running it on Kali-rolling
I will test and let you know. Out of the office today.

On Aug 10, 2017 4:00 PM, "Michael" <notifications@github.com> wrote:

[2017-08-13 20:58] mother2110 commented on #8
So this message only happens when I have a vpn connection. I ran on some local machines and it worked fine. I am working on the Hackthebox.eu machines. Sort of like the OSCP.

[2017-08-13 22:25] codingo commented on #8
Great, I have access to it and have been doing some write-ups for retired machines. I avoided using this tool however (to avoid it looking like I was trying to plug it). I'll test later myself as well and see if I can come up with a solution. Will update this in a day or two.

[2017-08-15 03:56] codingo commented on #8
Sorry - a bit more of a delay on this one. Hit some deadlines that need to be met before I can turn my attention back to this. I'll update this thread once a solution is underway.

[2017-08-15 18:50] mother2110 commented on #8
No worries

[2017-09-01 15:55] mother2110 commented on #8
Any update on this? Just curious.

[2017-09-01 23:47] codingo commented on #8
@mother2110 I've got a local branch where I've been looking at this however I've been moving house this week so haven't pushed anything up as yet. I'll aim to solve it in the next 48 hours for you!

[2017-09-02 08:53] codingo commented on #8
Resolveds this in #9. It looks like HTB's VPN concentrator still throttles some scans and I would recommend avoiding sweeping the whole subnet. I've included a successful test output for you below to verify:

Thank-you for your patience with this one, feel free to reply back to this issue to reopen it if you have any ongoing issues!

[2017-09-02 08:53] #8 closed

[2017-09-02 08:59] codingo opened #10 "Virtual host discovery scanning"
Add virtual host discovery scanning using specified wordlist.

[2017-09-02 10:46] codingo opened #11 "Move service discovery into a json dataset for easier modification / addition by contributors"
Currently the file helper class does something along the lines of the following:

[code]

This is a woefully inefficient way of assigning services and commands to nmap outputs bred from a quick time to market. The intention of this feature is to update this to work off of a json dataset where command line variables can be used to build strings.

For example,

[code]

Would store results relating t

[2017-09-02 12:24] codingo commented on #11
JSON structure updated in working branch: https://github.com/codingo/Reconnoitre/blob/Feature-Json-FIle-For-Services/reconnoitre/config.json

[2017-09-03 02:16] mother2110 commented on #8
Thank you

[2017-09-03 02:41] codingo commented on #8
Anytime :) Feel free to raise an issue again in the future!

[2017-09-03 05:44] codingo opened #16 "Improve virtual host scanner for catch-all scenario, and hostnames in SSL cert scenario"
#15 implements virtual host scanning however this fails in cases where a catch all and default vhost is in place.

This could be improved by using a hash table and checking where content varies. Additionally, it would be worth exploring retrieval of SSL certificates to see if there is a way to get and add hostnames to the checks from there (as this scenario regularly appears in HTB and CTF's)

[2017-09-03 05:45] codingo commented on #10
Resolved in #15 and proposed improvements to this in #16

[2017-09-03 05:45] #10 closed

[2017-09-03 05:50] codingo opened #17 "Add file writeout to Virtual Host scanning"
#15 implements Virtual Host scanning however results are currently only writing to Window. Recommend updating this to also output a file into the output directory with discovered hosts, statuses, and content length.

[2017-09-03 06:09] codingo commented on #17
Envision this as pulling content from each 200 result and storing the data.

At the end of the wordlist it would show "likely matches" with results that are outliers in final content (since most will match in length/content)

[2017-09-03 06:13] codingo commented on #16
Envision this as pulling content from each 200 result and storing the data.

At the end of the wordlist it would show "likely matches" with results that are outliers in final content (since most will match in length/content)

[2017-09-03 06:14] codingo opened #19 "Add hostnames from hostname discovery into virtual host results"
If hostnames are discovered and stored via discovery then these are also to be used with the virtual host scanner.

Since these are useful across the subnet hostnames.txt could be tried before any wordlists (or it could be the default option if no wordlist was specified?)

[2017-09-03 08:37] codingo commented on #16
This has now been handled and applied in: https://github.com/codingo/Reconnoitre/tree/Virtual-Hosts-Likely-Matches however will be refactored before merging. Feel free to checkout / test this branch if you absolutely require this feature in the meantime.

[2018-01-10 20:45] BikeMaker opened #22 "find_dns.py: line 40: cannot concatenate 'str' and 'int' objects"
Running Reconnoitre with the following options in Kali Rolling yields a concatenation TypeError:
[code]

The problem here is that in find_dns.py, at line 10, you're first casting 'results' as 0, then later at line 29 you set it to the output from subprocess.check_host() which returns as encoded bytes by default, but most definitely non-int in pretty much any case but error, which you later try to

[2018-01-11 01:24] codingo commented on #22
Thank-you for this. I'm tied up in an engagement for the next couple of weeks so I may not get to this one straight away but I'll be sure to update this issue once everything is resolved!

[2018-01-11 01:25] codingo commented on #16
Due to the expanding scope this issue and others were moved into its own project: https://github.com/codingo/VHostScan

[2018-01-11 01:25] #16 closed

[2018-01-11 01:25] codingo commented on #17
Due to the expanding scope this issue and others were moved into its own project: https://github.com/codingo/VHostScan

[2018-01-11 01:25] #17 closed

[2018-01-11 01:26] codingo commented on #19
Due to the expanding scope this issue and others were moved into its own project: https://github.com/codingo/VHostScan

[2018-01-11 01:26] #19 closed

[2018-01-27 09:36] codingo commented on #3
Resolved with #23

[2018-01-27 09:36] #3 closed

[2018-04-20 06:42] smileronin commented on #22
Also, How can we speed up the detail service scan, because Scan job is very slowly stage of detail scan process, The scan is not proggresing.  Maybe can do  bypass the dns check? For example, Maybe you can add the --ignore-dns-check parameter.

# python reconnoitre.py -t 192.168.183.16 -o /OSCP/LAB/ --services

|"""\-=  RECONNOITRE
(____)      An OSCP scanner by @codingo_

[+] Testing for required

[2018-05-03 13:24] codingo commented on #4
Tagging this as help wanted as this project is a bit lower on my list, if somebody wants to take a crack at this I would very happily merge it over!

[2018-05-03 13:25] codingo commented on #22
Tagging this as help wanted as this project is a bit lower on my list, if somebody wants to take a crack at this I would very happily merge it over!

[2018-05-22 09:57] cwaazywabbit commented on #11
Issued a pull request.

[2018-05-22 10:20] codingo commented on #11
Thankyou! I'm onsite for a few days but I'll review and aim to merge this before Friday.

[2018-05-22 23:03] cwaazywabbit opened #31 "Provide an option to disable UDP scanning, for faster results and performance"
UDP could come handy in the OSCP lab/exam, but in real-life scenarios would most likely be blocked or give false-positives.

Providing an option to disable UDP upon wish, would make the tool a bit more suitable for general purposes.

* PS: have already implemented this in my local fork, just waiting for the last pull-request to be approved before I push the new one; if you agree that it could come

[2018-05-23 09:38] codingo commented on #31
Sounds good! Not ignoring your local fork, definitely will have it merged soon. Caught me in an awkward week for testing!

[2018-05-25 01:47] codingo commented on #11
Closed with #30

[2018-05-25 01:47] #11 closed

[2018-05-25 23:01] #31 closed

[2018-05-26 01:50] cwaazywabbit opened #34 "Ping sweep only works with target(s) IPs"
Hi @codingo,

I came to notice that ping sweep only works with IPs but not with a file that contains a list of IPs/domains.
Yes, one can still use nmap directly, but it would be (perhaps?) nice to have it supported.
All it takes, is a small surgery :)

What do you think?

[2018-05-26 02:06] codingo commented on #34
Sure thing, would make it easier for targetting items in scope also.

Do you want to take this or should I?

[2018-05-26 02:37] cwaazywabbit commented on #34
Whoever has time for it :)

[2018-05-28 08:19] evyatarmeged commented on #4
Hey,
I have considered taking this on myself. Any special guidelines that should be followed?
Hope to squeeze this into my schedule 👍

[2018-05-28 08:27] codingo opened #35 "Move nmap commands into config.json"
With config.json being properly integrated in #30 I believe that the constants in service_scan for launching various nmap scans should be moved into config.json to allow users to change it themselves. I've always held back from refining these to avoid lab/exam spoilers and believe this would allow end users to do this themselves as they work through the lab material.

[2018-05-28 08:45] evyatarmeged commented on #4
Understood. I agree that applying multiprocessing abstraction would be beneficial.
Love the tool otherwise =]

[2018-06-02 14:05] evyatarmeged commented on #4
@codingo I found some spare time and got around to doing some work. I've pused it in my fork of Reconnoitre under branch "class-refactoring-001".
I've performed changes for **file_helper**, **hostname_scan**, **dns_finder**, **service_scan** and a bit for **virtual_host_scanner** although you had it pretty much done already.
I've made file_helper static as that made the most sense. I'll do the mai

[2018-06-02 15:10] codingo commented on #4
May be a couple of days until I can do a fulp revies, but I'll update you soon as I can!

[2018-06-06 11:03] codingo commented on #35
When addressing this the config file should also be changed to be non-relative. Currently config file will only work if you launch reconnoitre from the root directory of the application.

[2018-06-15 14:57] omkar-ukirde opened #36 "Error No such file or directory: 'config.json'"
I downloaded it and used it with following options, its creating an error everytime.
`python /root/OSCP/Reconnoitre/reconnoitre/reconnoitre.py -t 10.10.10.74 -o `pwd` --services`
![image](https://user-images.githubusercontent.com/10123675/41474756-7a2674ce-70da-11e8-8fb2-1d4d7afe926b.png)
`root@kali:~/OSCP/10.10.10.74-chatterbox# python /root/OSCP/Reconnoitre/reconnoitre/reconnoitre.py -t 10.10.10

[2018-06-26 08:59] cwaazywabbit opened #37 "Issue scanning range-based IP addresses"
Hi,

during a pentest, I noticed that the tool doesn't take into account the possibility of scanning range-based IP addresses (i.e. 1.1.1.1-100) because, in the end, the parser would output the IP address that was entered on command-line or read from a file. Instead, the parser should extract the IP address from nmap logs so that the findings with correct individual IP addresses are written to fil

[2018-06-26 11:40] cwaazywabbit opened #38 "Small issue when same service is running on multiple port"
Hi,

when there is a i.e. Webserver running on multiple ports (i.e. 80, 81, 82, 8080..) then according to the current _config.json_, the generated commands would overwrite each other. Better add the port to the file name as well.

![unbenannt](https://user-images.githubusercontent.com/6714156/41909108-78591ab0-7946-11e8-8106-e4c488ca1aff.PNG)

[2018-06-26 12:40] cwaazywabbit commented on #38
The fix is ready, will make a pull request as soon as you merge #39.

[2018-06-29 02:13] codingo commented on #38
#39 has now been merged, feel free to raise a pull request at your convenience @cwaazywabbit

[2018-07-02 05:43] cwaazywabbit commented on #36
@codingo this issue is (should) fixed with my recent pull. Suggestion to confirm and close.

[2018-07-02 05:46] cwaazywabbit commented on #38
The fix was actually sent in the same recent pull request and is now merged. You can confirm and close. Regards

[2018-07-02 05:57] #38 closed

[2018-07-02 05:57] #36 closed

[2018-07-02 08:05] omkar-ukirde commented on #36
Fixes #36

[2018-07-02 11:33] john65 opened #41 "Incorrect path to gobuster wordlists in config.json"
The gobuster wordlists are at Web_Content, but config.json has Web-Content
<snip>
"gobuster -w /usr/share/seclists/Discovery/Web-Content/common.txt -u http://$ip:$port/ -s '200,204,301,302,307,403,500' -e | tee '$outputdir/$ip_$port_gobuster_common.txt'",
            "gobuster -w /usr/share/seclists/Discovery/Web-Content/CGIs.txt -u http://$ip:$port/ -s '200,204,301,307,403,500' -e | tee '$outputd

[2018-07-02 11:45] codingo commented on #41
This was updated to match the latest SecLists update (https://github.com/danielmiessler/SecLists/tree/master/Discovery). If you update your SecLists to the latest version then your pathing will be correct.

[2018-07-02 11:45] #41 closed

[2018-07-03 09:19] hollerith opened #42 "scanning HTB Ararog error trace"
Sorry mate if I'm running the tool wrong but when I do

`python3 ./reconnoitre.py -t 10.10.10.78 -o ../../recon --services`

I get:

[code]
I've just cloned it to a local directory I've set up as a workspace for Ararog. Running Kali. No issues running nmap on it apart from that.

Just giving it a go more out of desperation than a deliberate strategy.

[2018-07-03 09:36] cwaazywabbit commented on #42
Try Python 2.6 - 2.7.

[2018-07-08 18:00] hollerith commented on #42
kewl

[2018-07-08 18:00] #42 closed

[2018-07-17 18:50] codingo commented on #22
Fixed in #43

[2018-07-17 18:50] #22 closed

[2018-07-30 05:10] #35 closed

[2018-08-19 23:18] codingo commented on #37
Hi @cwaazywabbit, sorry for the delay looking into this. Hoping to get some time for this project again soon to work on this.

[2018-08-20 08:45] evyatarmeged commented on #4
Hi @codingo,

I've made some refactoring to the project and was waiting for your feedback (see my comment earlier in this issue). I did not want to continue to work without you reviewing the work done so far and pointing me in the direction you want this to go.

Regardless, the fork is now removed since there was no response so I figured this project was not at the top of your list.

Is there anyt

[2018-08-20 11:04] codingo commented on #4
@evyatarmeged Subfinder/VHostScan have definitely taken attention for a while, but I've been looking at breathing some fresh life into this.

Happy for you to contribute anything you feel would be of benefit to the community as a whole. This project is designed for those going through HackTheBox/OSCP, and anything that can benefit that community I would happily accept as a merge.

[2018-10-05 01:36] yvonneKim opened #45 "TypeError: bytes-like object required for parsing scan output"
Every instance where `lines = results.split("\n")` is called, the following error is thrown:

`TypeError: a bytes-like object is required, not 'str'`

[2018-10-05 01:37] yvonneKim commented on #45
I'm going to make a PR that should fix this issue. It's very quick.

[2018-10-05 01:58] codingo commented on #45
@yvonneKim that's excellent, thank-you. Will tag this up for #hacktoberfest for you also.

[2018-10-07 10:01] evcsec commented on #37
I've had a go at making this change, as it's Hacktoberfest and I'm fairly new to open source contribution. Please see PR available here: https://github.com/codingo/Reconnoitre/pull/49

[2018-10-10 12:34] codingo commented on #45
Closed in #46

[2018-10-10 12:34] #45 closed

[2018-10-10 12:34] codingo commented on #37
Closed in #49

[2018-10-10 12:34] #37 closed

[2018-10-10 12:34] codingo commented on #34
Closed in #49

[2018-10-10 12:34] #34 closed

[2018-10-10 12:35] codingo opened #51 "Further improvements to SNMP scanning"
SNMP scanning is currently rather unimplemented and only scans the public tree. Adding further common trees (admin/private, or even loading a json file of trees) would be beneficial  to enumeration.

Relatively easy change so tagging this for Hacktoberfest but I'll address if still outstanding in November.

[2018-10-10 12:36] codingo opened #52 "Refactor for better Python standards"
This is one of my very first python projects, and it shows. There's a lot of code repetition and bad practice that could be cleared up. Among this is proper class usage (referred to in #4), a lack of automated test cases and more.

[2018-10-10 12:37] codingo opened #53 "Add colour to output"
Output lacks colour / formatting and could be centralised into a proper library.

[2018-10-10 12:38] codingo opened #54 "Remove all presence of --exec"
To keep this exam safe for the OSCP I've never implemented --exec publicly, but it's still mentioned in some areas (command line flags). All instances of this should be removed.

Relatively easy change so leaving this flagged for Hacktoberfest.

[2018-10-10 12:41] codingo opened #55 "Creation of Setup.py"
This project lacks a proper setup function, You can see how this can work based on the vhostscan repository (https://github.com/codingo/VHostScan).

Leaving tagged for hacktoberfest, will resolve in November if unclaimed.

[2018-10-10 12:54] #54 closed

[2018-10-10 13:39] evcsec commented on #51
I'll put something together over the coming days for this one since I'm getting pretty used to the code base (pre-updates you're working on @codingo).

[2018-10-10 14:10] codingo commented on #51
Sounds good, and thank-you!

[2018-10-10 15:36] iGeekuPlay commented on #55
@codingo what are you trying to achieve by having this setup.py?

[2018-10-11 00:11] codingo commented on #55
@iGeekuPlay see https://github.com/codingo/VHostScan for an example of what I'm trying to do in this particular project also.

[2018-10-13 03:37] yvonneKim commented on #53
Do you have an idea of how difficult this is? I'm interested, but will seek help or move on if it turns out to be more than I'm willing to chew on.

[2018-10-13 04:16] codingo commented on #53
It's not too bad. I'm away from the computer at the moment but I'll put more into here later tonight.

[2018-10-18 07:06] codingo commented on #51
Hi @evcsec, just touching base to see where we landed with this one?

[2018-10-18 07:29] bcoles opened #69 "TypeError: str() takes at most 1 argument (2 given)"
[code]

[2018-10-18 08:01] #69 closed

[2018-10-18 12:04] codingo opened #71 "Controlled Threading"
Currently for each machine returned Reconnoitre will start a new thread for the remote hosts. This means that if 255 machines are available, 255 instances of NMap will fire in the background.

A change to the way threads are started and managed in the application and to also allow them to be controlled by the command line would resolve this (no small undertaking).

[2018-10-18 12:29] #55 closed

[2018-10-18 13:41] codingo opened #74 "Move NMap Commands to config.json"
The nmap commands used by a services scan are currently housed within ./reconnoitre/service_scan.py, at time of raising issue on lines 15 (quickscan) and 28/31 (long UDP/TCP scans with DNS servers found), 37,40 (UDP/TCP no DNS found).

In long form:

[code]

This shouldn't conflict with the code in write_recommendations() within the same file as this code is specifically referencing to the service

[2018-10-23 08:20] codingo opened #76 "Multiple scan types, specified by flag"
Along with the change #74 the user should be able to specify additional, modified scans that they can launch at command line.

So, for example, if:
[code]
Was run then the scan found under "codingo-hackthebox" in the scans object in config.json would be used. If nothing was specified then the object "default" would be used.

[2018-10-23 08:29] codingo opened #77 "Graceful exiting"
When exiting the KeywordInterrupt exception isn't caught, leading to a stacktrace. This isn't really necessary and should be handled gracefully.

[2018-10-23 13:37] evcsec commented on #51
Hey @codingo - for visibility purposes, I'm still going to jump into this one. I'm re-working some of the threading capabilities within Reconnoitre. Once completed I'll revisit SNMP capabilities and look to expand these to the level you're after for it 👍

[2018-10-26 17:58] jrichmo93 opened #78 "Add argument to allow for proxychains"
A useful enhancement would be to add an argument that will run nmap scans through proxychains

[2018-10-28 08:22] codingo opened #81 "PEP8 Formatting"
As this was one of my first Python projects it lacks PEP8 conventions throughout. A test case is already in place to help proof once this is successfully implemented, but PEP8 formatting still needs application throughout the project.

Good first issue.

[2018-10-28 22:45] dgisser opened #83 "Add tests to Travis"
That way you can tell if the build breaks. You don't have to implement all the tests yet, just make sure that all existing tests run every time.

[2018-10-29 01:29] codingo commented on #81
Closes with #82

[2018-10-29 01:29] #81 closed

[2018-10-30 22:09] nxdamian opened #85 "TypeError: bad operand type for unary +: 'unicode'"
Hi guys,

Any ideas how to fix this error from Kali 2018.3:

`[+] Writing findings for **.**.**.**
Process Process-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/multiprocessing/process.py", line 267, in _bootstrap
    self.run()
  File "/usr/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args, **self._kwargs)
  File "/root/Lab_scripts/Reconno

[2018-10-30 23:49] codingo commented on #85
This is fixed in #84, I'm testing now and about to merge.

[2018-10-31 00:01] codingo commented on #85
Closed with #84

@nxdamian if you update you will no longer see this errror.

[2018-10-31 00:01] #85 closed

[2018-12-03 17:34] RobertLHarris opened #86 "Module error when trying to run latest build as of 2018/12/02"
I just did a git pull from the repo, running on ubuntu 18.10.  I get this:

https://pastebin.com/

[2018-12-03 21:58] codingo commented on #86
@RobertLHarris the link you've included is a generic pastebin link without detail, could you include the full log on this issue? I'm assuming you followed the instructions on the  readme to setup dependencies as well?

[2018-12-19 20:14] digital-shokunin opened #87 "Missing library in Kali"
I'm running reconnoitre in Kali, it was working fine before but now, after a git pull I'm getting some other error.

[code]

pip says "lib" is already installed.

`pip install lib
Requirement already satisfied: lib in /usr/local/lib/python3.6/dist-packages (3.0.0)
`

Running python3 --version
Python 3.6.8rc1

[2019-01-13 11:36] P3J0T commented on #87
Exact same issue, error and environment. Installation works with Python2 however.

[2019-01-13 11:40] codingo commented on #87
Sorry, I missed this originally. Have you both run the setup instructions on the repository? This wasn't necessary before, but is now that I've packaged everything.

[2019-01-13 11:40] #86 closed

[2019-01-21 22:46] mathurin68 opened #89 ""List of Recommended Tools" thread by g0tmilk - link?"
Hey guys, great tool, working on the OSCP!  At the bottom of the page you mentioned "List of Recommended Tools" thread by g0tmilk, but I can't find it.  Tons of great stuff on g0tmilk's blog but I can't find the list, can you direct me it?

Thanks!

[2019-02-07 09:31] saeeddhqan opened #90 "Console interface"
Hi dear,
you can use Maryam for the user interface. If you use Maryam, your program will a framework like Metasploit.
If you wanted, please ask how to work.
[http://github.com/saeeddhqan/maryam](https://github.com/saeeddhqan/maryam)

[2019-02-26 18:24] #90 closed

[2019-02-26 18:38] codingo commented on #90
Please don't spam other peoples projects about this. This isn't a way to build your project.

[2019-03-12 02:19] amlamarra opened #92 "Services scan not working"
I'd love to use this tool, but it's simply not working for me. I'm using a current Kali VM, installed Reconnoitre as described, but a services scan won't work. I get the following:

[code]

[2019-03-12 02:29] codingo commented on #92
It will be a few days until I can get to this, but just touching base to let you know it won't be ignored.

[2019-03-30 14:55] pai-theredhat opened #93 "Stopping at " Testing for required Utilities ""

[2019-03-30 14:56] pai-theredhat commented on #93
# reconnoitre  -t 10.10.10.78 -o /root/recon
  __
|\"\"\"\-=  RECONNOITRE
(____)      An OSCP scanner by @codingo_

[+] Testing for required utilities on your system.

Stops at this point ..
Am I doing something wrong ?

Just cloned !!

[2019-04-21 18:54] Anon-Exploiter commented on #53
Folks, need some help? It really needs some coloring.

[2019-04-21 18:57] Anon-Exploiter commented on #93
Have you tried specifying other arguments like --services, --hostnames, etc.?

[2019-04-24 07:01] codingo commented on #93
@Anon-Exploiter is correct - you need to specify what checks to run @pai-theredhat. I'll look at updating this over Hacktoberfest this year to better handle these scenarios.

[2019-04-24 07:01] #93 closed

[2019-04-24 07:06] codingo commented on #53
@Anon-Exploiter you're welcome to work on this, I tend to only work on this project (for active new development) over hacktoberfest each year. If you'd like to take a shot at it in the meantime, a pull request would be very welcome.

[2019-04-24 07:07] codingo commented on #53
If you do tackle this, be sure to merge #61 and start from there.

[2019-05-07 06:57] codingo commented on #89
@mathurin68, you can find this in the OSCP forums once you've signed up for the course. It's not public, so I can't link it here.

[2019-05-07 06:57] #89 closed

[2019-05-08 01:59] overfl0wd commented on #87
i'm getting the same error using python3 on the 2019.1 virtualbox ova.

any update here?

[2019-05-08 06:33] codingo commented on #87
@overfl0wd I'm yet to lab this, admittedly. Looking into it now.

Could you let me know if you ran `setup.py` as well as the command line flags you've used?

[2019-05-08 23:27] codingo commented on #92
Could you update to the latest version and test this again? I believe this was due  to an earlier but I resolved with the way the package was installed.

[2019-05-08 23:27] #92 closed

[2019-05-23 13:04] noraj commented on #87
@codingo Same problem on ArchLinux:

PKGBUILD:

[code]

Then on a clean chroot environment:

[code]

versions installed:

[code]

[2019-05-23 14:04] noraj commented on #87
I also tried in a clean python 3.6.8 virtuual environment:

[code]

[2019-05-23 14:07] noraj commented on #87
@codingo  This seems completely unrelated to the OS or the3.x  python version but to the packaging itself, as it happens on both Kali Linux and ArchLinux, on python 3.6.8-rc1, 3.6.8 and 3.7.3.

[2019-05-25 02:36] Edu4rdSHL commented on #87
Hello guys, the package is failing with `ModuleNotFoundError: No module named 'lib.core'` because you're trying to run the script that's outside of the [Reconnoitre folder](https://github.com/codingo/Reconnoitre/tree/master/Reconnoitre) and it's trying to import the [lib folder](https://github.com/codingo/Reconnoitre/tree/master/Reconnoitre/lib), using the setup.py file fix it issue but you alread

[2019-05-25 02:44] Edu4rdSHL commented on #77
Why not just call `exit`?

[2019-05-25 02:59] #87 closed

[2019-05-25 20:54] dkumardefence commented on #87
Hello codingo, I'm facing the lib.file_helper import issue. Can you please look into this.
![image](https://user-images.githubusercontent.com/44009164/58374526-af11ea00-7f0d-11e9-97fd-84bb06971875.png)

Thanks

[2019-05-25 21:13] Edu4rdSHL commented on #87
@dkumardefence what steps are you following?

[code]

[2019-05-25 21:25] dkumardefence commented on #87
@Edu4rdSHL  - I used the python setup.py install and then launching reconnoitre <args> from terminal.
This is my new VM box and in the existing box it just works fine.

Thanks

[2019-05-25 21:27] dkumardefence commented on #87
@Edu4rdSHL BTW  python reconnoitre.py works fine too. I was accustomed to use the reconnoitre from terminal(anywhere)

[2019-05-31 11:17] A-AFTAHI opened #96 "Packages ERROR"
Hi thanks for the great tool. i've just discovered the tool but whrn i run it i get the error below. any idea what is the source if the issue?

Traceback (most recent call last):
  File "/usr/local/bin/reconnoitre", line 11, in <module>
    load_entry_point('Reconnoitre==1.0', 'console_scripts', 'reconnoitre')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 489, in load

[2019-06-03 17:56] jeffreygray opened #97 "Reconnoitre hangs on a simple scan, throws no errors, and does nothing"
I ran this code present in the Reconnoitre readme:

https://i.imgur.com/KDboodL.png

This is a standard Kali install with other dependencies installed. Any idea why there are no errors whatsoever yet this does not work? See my successful manual nmap below in tmux.

[2019-06-10 16:04] jeffreygray commented on #97
To clarify, this is a stock Kali install with a stock install of Reconnoitre using the instructions provided in readme.md

[2019-06-10 23:24] codingo commented on #97
Hi @jeffreygray, not ignoring this but other projects are stealing priority. I have reconnoitre on the list for a full overhaul this year, but it may not happen until Hacktoberfest comes around.

[2019-06-18 19:34] subzer0x0 commented on #96
It seems like you are trying to run the script outside of the **Reconnoitre** folder. Go to **Reconnoitre** folder and run this command  `python reconnoitre.py` and it should work now. Similar issue was already discussed [here](https://github.com/codingo/Reconnoitre/issues/87)

[2019-06-21 22:52] tonydelanuez commented on #77
I can take this if nobody is working on it.

[2019-06-23 23:02] #77 closed

[2019-06-24 05:02] #96 closed

[2019-06-24 05:05] codingo commented on #97
Hi @jeffreygray , #74 will improve on this, but for now you can modify the nmap scan that is running from `service_scan.py`. The scans in place were tested for use on the OSCP/HTB, but also have room for improvement. The intention of a tool like this one (being build for a lab) is to be educational in nature for the user, but which should also be tailored by the user.

For that reason the suggesti

[2019-06-24 05:05] #97 closed

[2019-06-24 05:16] #83 closed

[2019-06-24 05:17] codingo commented on #71
I'll get to this eventually, but if anybody wishes to try ahead of time the code required could be lifted from https://github.com/codingo/Interlace

[2019-06-24 05:17] #52 closed

[2019-06-24 05:18] codingo commented on #51
@evcsec just touching base to see where we landed with this one?

[2019-06-26 12:41] evcsec commented on #51
Hey @codingo, I'm planning to get this one back on track over the coming couple of days.
Unless you were after something sooner, or someone else wanted to get involved?

Let me know your thoughts :)

[2019-07-02 07:18] codingo commented on #53
@Anon-Exploiter are you still wanting to tackle this?

[2019-07-02 07:19] codingo commented on #51
Hi @evcsec, very happy for you to take this one on. Let me know if you need any help with it.

[2019-07-05 20:48] JayT33 opened #100 "TypeError: a bytes-like object is required, not 'str'"
reconnoitre -t 172.16.243.1-255 --pingsweep -o /root/Desktop/test0
  __
|\"\"\"\-=  RECONNOITRE
(____)      An OSCP scanner by @codingo_

[+] Testing for required utilities on your system.
[#] Performing ping sweep
[!] /root/Desktop/test0 didn't exist and has been created.
[+] Performing ping sweep over 172.16.243.1-255
Traceback (most recent call last):
  File "/usr/local/bin/reconnoitre", line 1

[2019-07-05 21:06] JayT33 commented on #100
using latest build of kali dated 2019-06-20

[2019-07-05 21:47] JayT33 commented on #100
so i just installed this using python2 setup.py install, and now it will run the above command without issue.

[2019-07-05 21:47] #100 closed

[2019-07-19 01:58] jan0sik opened #101 "snmp_walk.py - TypeError when running --snmp"
It seems the snmp_walk.py is not working properly because of line 71 to 73 being on separate lines.
It throws an error: "TypeError: not all arguments converted during string formatting python".
The SCAN variable needs to be encompassed in paranthesis.

`    SCAN = "snmpwalk -c public -v1 %s "
    "1.3.6.1.2.1.25.1.6.0 > '%s%s-systemprocesses.txt'" %
    (ip_address, output_directory, ip_address)`

[2019-07-19 03:32] codingo commented on #101
Happy to correct this but since you've already explored it, do you want to raise a pull request so it's tied to your account? I don't mind either way.

[2019-07-19 03:41] jan0sik commented on #101
This is my first time ever making a pull request, I hope I did it right. There should be a pull request.

[2019-07-19 04:00] jan0sik opened #104 "gobuster update breaks automatic findings text file commands"
Gobuster v3.0.1 now has mode options called "dns", "dir", "vhost". This will need to be reflected in the exported findings file that is generated for the automatic gobuster commands.

https://github.com/codingo/Reconnoitre/blob/758247afc3a325cbf8224927fa095fbb0065fa6b/Reconnoitre/lib/config.json#L34-L35

These need "dir" added to each.

[code]

Will throw a pull request.

[2019-07-19 13:58] codingo commented on #104
@jan0sik I believe this was resolved in #103, but very open to another pull request if not

[2019-07-19 13:58] codingo commented on #104
Actually, I saw you submitted that. Thank-you, and closing this issue.

[2019-07-19 13:58] codingo commented on #104
Closed with #103

[2019-07-28 04:45] BrashEndeavours opened #105 "Multiple DNS targets are concat in DNS-targets.txt"
If multiple DNS targets are found in a --dns scan, they are concat together.
IE: 192.168.0.5 and 192.168.0.6 are found

Currently DNS-targets.txt
192.168.0.5192.168.0.6

Following convention of targets.txt, the DNS servers should be line-delimited:
192.168.0.5
192.168.0.6

[2019-07-28 06:01] #105 closed

[2019-07-28 17:35] BrashEndeavours opened #107 "service_scan not using actual dns server IPs when doing non-quick scans"
Detailed service scans are not being passed any dns servers when running the [detailed scan](https://github.com/codingo/Reconnoitre/blob/master/Reconnoitre/lib/service_scan.py#L39).

The nmap line is being passed the dns_server value which is (currently) only a True or False value, resulting in the error:
`mass_dns: warning: Unable to determine any DNS servers. Reverse DNS is disabled. Try using -

[2019-07-28 22:43] #107 closed

[2019-07-28 22:44] #101 closed

[2019-07-30 13:04] jan0sik commented on #104
Missed the other gobuster commands in the http output. I only fixed it in the https output, when merged. When you have the time, can you fix it quick?

https://github.com/codingo/Reconnoitre/blob/70c8a1909700e4ee4296541f2293908aaeeaedf4/Reconnoitre/lib/config.json#L34-L35

[2019-07-30 13:49] codingo commented on #104
Will do!

[2019-08-06 11:19] my-github-user-name opened #109 "program not working on kali"
Traceback (most recent call last):
  File "reconnoitre.py", line 7, in <module>
    from .lib.core.input import CliArgumentParser
ValueError: Attempted relative import in non-package

[2019-08-15 22:17] tonydelanuez commented on #109
Did you run `python3 setup.py install`?

If you install Reconnoitre as a package, you shouldn't run into this error.

[2019-08-15 22:45] codingo commented on #109
@tonydelanuez is correct, this will throw if you call it directly. Please follow the instructions on the readme and reply here if you have any further issues and I'll reopen this request.

[2019-08-15 22:45] #109 closed

[2019-08-22 21:31] m4lvir opened #111 "reconnoitre not working"
I am having the same issue as amlamarra in the closed issue services can not working. I followed the instructions in the readme. I downloaded through the git one liner. Moved to the Reconnoitre folder and did python3 setup.py install. Ran the command and got the same errors as amlamarra. Am I just not installing it correctly?

[2019-08-23 01:22] jjfromnh commented on #111
I'm also running into trouble.  I'm using a fresh copy of the OffSec VMware VM and I installed Reconnoitre per the readme.

root@kali:~# reconnoitre -t 10.11.1.116 -o /root/Documents/labs/ --services
  __
|\"\"\"\-=  RECONNOITRE
(____)      An OSCP scanner by @codingo_

[+] Testing for required utilities on your system.
[#] Performing service scans
[*] Loaded single target: 10.11.1.116
[+] Creatin

[2019-08-23 02:20] codingo commented on #111
Not ignoring this, but may be 24 hours until I can take a proper look at it.

[2019-08-23 02:54] m4lvir commented on #111
okay I understand. thanks for taking a look

[2019-08-24 04:29] tonydelanuez commented on #111
@jjfromnh Thanks for including your traceback, that's helpful when debugging.

This is a python 3.6/3.7 issue. The constructor for `subprocess.Popen` does not take the `text` keyword argument in the Python 3.6 version, see here:
https://docs.python.org/3.6/library/subprocess.html#subprocess.Popen

It was later added in Python 3.7:
https://docs.python.org/3.7/library/subprocess.html#subprocess.Pope

[2019-08-24 04:32] tonydelanuez commented on #111
It does look like we can swap out the usage of `text` for `universal_newlines` in order to be compatible on both 3.6 and 3.7:

From the docs I linked above:

[2019-08-24 04:37] m4lvir commented on #111
I am getting

root@kali:~/Reconnoitre# python3 -V
Python 3.7.4
root@kali:~/Reconnoitre# python3 setup.py install
Traceback (most recent call last):
  File "setup.py", line 2, in <module>
    from setuptools import find_packages, setup
ModuleNotFoundError: No module named 'setuptools'

[2019-08-24 04:50] #111 closed

[2019-08-24 18:45] jjfromnh commented on #111
Thanks for the quick response--I'll give this a try!

[2019-08-31 22:44] finalriposte commented on #100
Interesting, I have the same using python3.  I changed the line to read:
lines = results.split("\n")
and this worked with python3.7.
It's up to @codingo  as to how he wants this to work, but if the goal is python3 compatibility, I'd be happy to make a pull request.

[2019-09-01 10:34] codingo commented on #100
@finalriposte is this working on the latest branch? I thought we solved this in #112

[2019-09-01 20:34] finalriposte commented on #100
I just did a fresh clone after removing both the Reconnoitre directory and the dist-package in /usr/local/lib and got this:  File "/usr/local/lib/python3.7/dist-packages/Reconnoitre-1.0-py3.7.egg/Reconnoitre/lib/ping_sweeper.py", line 26, in call_nmap_sweep.
TypeError: a bytes-like object is required, not 'str'
Mind you I *am* running python 3.7, but I wouldn't have thought that this would be a bi

[2019-09-15 05:25] Anon-Exploiter commented on #53
Hey @codingo,

Sorry, I don't think so, I'll be able to spare time for it atm.

[2019-09-15 07:22] codingo commented on #53
That's ok, I'm moving this project towards being an interlace file with a companion project anyway. Closing this in favour of that, watch this space.

[2019-09-15 07:22] #53 closed

[2019-10-04 15:02] CrimsonK1ng commented on #76
I can start working on this issue.

[2019-10-04 23:37] codingo commented on #76
That would be great, if you can put a PayPal in your pr I'd love to send you a token of thanks as well.

[2019-10-05 00:42] CrimsonK1ng commented on #76
Just wanted to check before I do any significant changes, but what would you like the scan default to be? Currently I would have an empty default object under scan. Then users would add their own scans which you can then provide as an argument on the command line as ```---scantype my-scan```. Is that along the lines of what you were thinking? Also thanks, I like this project so I wanted to help.

[2019-10-05 01:40] codingo commented on #76
I like this approach, maybe add a couple of examples to help guide users, but  the one labelled `default` would be the one used if no flags are passed.

[2019-10-06 11:18] hrishikeshSuresh commented on #71
I would like to work on this if it hasn't been done already.

[2019-10-06 12:19] codingo commented on #71
@hrishikeshSuresh yes, feel free. If you can put a paypal e-mail in the pull request so I can send a token of thanks as well.

[2019-10-06 14:16] hrishikeshSuresh commented on #71
I went through Interface and I think I have to add a few arguments to `reconnoitre` command which will be used to manage the threads. So what are the basic things I need to cover? I'm expecting few arguments to control maximum number of threads, ip addresses of machines that will run the nmap? Anything else I have missed?

[2019-12-29 01:13] clive7391 opened #116 "Segmentation fault and...."
Errors when running reconnoitre -t targets-live.txt -o reconnoitre-out --services --hostnames --dns --virtualhosts -w /usr/share/wordlists/rockyou.txt.gz

While the scan does run, it produces errors...

NSOCK ERROR [21182.2080s] mksock_bind_addr(): Bind to 0.0.0.0:918 failed (IOD #2806): Address already in use (98)
Unable to split netmask from target expression: "reconnoitre-out/10.11.1.75/scans/1

[2020-03-06 19:38] xelerated opened #118 "missing lib.core?"
~/Reconnoitre$ reconnoitre
Traceback (most recent call last):
  File "/usr/local/bin/reconnoitre", line 11, in <module>
    load_entry_point('Reconnoitre==1.0', 'console_scripts', 'reconnoitre')()
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 480, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python3/dist-packages/pkg

[2020-03-16 19:39] 0xMarcio commented on #118
marc@kali:~/Desktop$ sudo reconnoitre
Traceback (most recent call last):
  File "/usr/local/bin/reconnoitre", line 11, in <module>
    load_entry_point('Reconnoitre==1.0', 'console_scripts', 'reconnoitre')()
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 489, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python3/dist-p

[2020-03-23 01:19] skilfoy commented on #118
I'm having the same issue...

[2020-03-26 23:00] AhmedOzil10 commented on #118
same here

[2020-03-28 21:12] wrathdante commented on #118
Same for me. Did I do something wrong? 10x

root@kali:/home/kali/Desktop/Tests/Reconnoitre# reconnoitre -h
Traceback (most recent call last):
  File "/usr/local/bin/reconnoitre", line 11, in <module>
    load_entry_point('Reconnoitre==1.0', 'console_scripts', 'reconnoitre')()
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 489, in load_entry_point
    return get_distributio

[2020-04-04 04:17] attacker34 commented on #118
Hi @xelerated Having same issue. Can you please check?

[2020-04-04 17:32] revizor1 commented on #118
same

[2020-04-04 23:48] #118 closed

[2020-06-18 21:03] harr-sudo opened #122 "lib.core"
I have followed the install guide and run python setup.py install

root@kali:/opt/Reconnoitre/Reconnoitre# python reconnoitre.py
Traceback (most recent call last):
  File "reconnoitre.py", line 7, in <module>
    from .lib.core.input import CliArgumentParser
ValueError: Attempted relative import in non-package

root@kali:/opt/Reconnoitre/Reconnoitre# reconnoitre
Traceback (most recent call last):

[2020-07-06 01:26] bbeale commented on #4
I just submitted a PR to address this issue, but there's a verify-json-validation check that is failing and I'm not able to track it down at a quick glance.

[2020-10-04 08:15] udaydatrak opened #124 "Free bug bounty tutorials 100 lessons"
Hi Guys,

I made a video on how to learn 100 unique security issues learning in just 20 hours without any basics.

I would like you to add these in your features list. People from across the globe already started giving hundreds of positive comments.

Search in YouTube for "100 bug bounty lessons uday datrak" To learn including web application development and setup too.

https://www.youtube.com/pl

[2021-03-10 21:00] SmoggsTown commented on #122
This is a python 3 project & your stacktrace suggests you've installed via python 2.7.

[2021-03-15 01:33] #122 closed, assigned to nobody

[2021-03-19 19:23] BLuef0x27 opened #125 "SyntaxWarning with nmap"
I did an install on my kali machine but i have an error when running the script:

/usr/share/nmap/Reconnoitre/Reconnoitre/reconnoitre.py:32: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if util is "nmap":
/usr/share/nmap/Reconnoitre/Reconnoitre/reconnoitre.py:49: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if util is "nmap":
Traceback (most recent call last):
  File "/usr/